@model IEnumerable<SmartIK.Data.Permission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PermissionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestPermissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestPermissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
